<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- NOTE 1:
        The context param whose name "contextConfigLocation" is very important
        It define the xml config file of the whole context of Application.
    -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <!-- NOTE 1-a:
        the listener tag tell something about the classes that Spring app will listen to and handle for an event
        The listener class can be a custom class. But I recommend to use a built-in class of Spring instead.
        It 's not intelligent of making the code get more complex with some instances that we dont have much experiments
    -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- NOTE 2:
        Servlet name and mapping: The whole appication have a mother-context to config itself. 
        And lower than application, we know about servlets. The servlet need to have a "son-context" to do the configs
        that is efficient in servlet own scope only. And "servlet-mapping" with "url-pattern" tell the Spring 
        which url-type to invoke corresponding servlet.
        
        Config the servlet in MANDATORY. Evenly, with the empty url-patern: "/" .
        And, I dont like to make complicated with something that I am lack of experiments. I love choosing declaring
        01 servlet only with empty url-pattern "/" .
    -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- NOTE 3:
        This tag define the first view file loaded as homepage
        If the "welcome-file" has not been declared, The "index.jsp" or "index.html" would be found and loaded instead
    -->
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
